<% artistas.forEach(artista => { %>
  <section class="artistCardPC">
    <div class="artistsFirstLineGridPC">
      <img src="/uploads/<%= artista.foto_cliente %>" alt="<%= artista.nome_cliente %>" class="artistCardPhotoPC">
      <div class="artistsContainerTextos">
        <h3 class="artistCardName"><%= artista.nome_cliente %></h3>  
        <p class="artistCardBio"><%= artista.perfil_cliente %></p>
      </div>
    </div>
    <div class="artistsSecondLineGridPC">
      <% artista.obras.forEach(obra => { %>
        <a href="/obra/<%= obra.id_obra %>">
          <img class="artImage" src="/uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.titulo_obra %>">
        </a>
      <% }); %>
      <a href="/<%= artista.perfil_cliente %>" class="seeMoreA">
        Ver mais obras...
      </a>
    </div>
  </section>
<% }); %>
