<section class="artistasEmDestaque">
  <h2 class="artistasEmDestaqueTextPC">Artistas em Destaque:</h2>
  <section class="carrosell">
    <% artistas.forEach(artista => { %>
      <a href="/artist/<%= artista.id_cliente %>">
        <section class="artist">
          <img src="/images/artist.jpg" alt="<%= artista.nome_cliente %>" class="artistPhoto">
          <!-- <img src="/uploads/<%= artista.foto_cliente %>" alt="<%= artista.nome_cliente %>" class="artistPhoto"> -->
          <p class="artistName"><%= artista.nome_cliente %></p>
        </section>
      </a>
    <% }); %>
  </section>
</section>