<section class="ObrasMaisVendidas">
    <h1 class="comprarArteOnlineH1">OBRAS MAIS VENDIDAS</h1>
    <p class="comprarArteOnlineP">Qual seu movimento artistico favorito?</p>
  
        <section class="artCarrosell">
            <section class="slideshow-container">
              <section class="obrasMaisVendidasmySlides mySlides fade">
                <section class="obrasMaisVendidasGrid">
                    <%- include("../partial/artCardPC") %>
                    <%- include("../partial/artCardPC") %>
                    <%- include("../partial/artCardPC") %>
                    <%- include("../partial/artCardPC") %>
                </section>
            </section>
            
              <section class="obrasMaisVendidasmySlides mySlides fade">
                <section class="obrasMaisVendidasGrid">
                    <%- include("../partial/artCardPC") %>
                    <%- include("../partial/artCardPC") %>
                    <%- include("../partial/artCardPC") %>
                    <%- include("../partial/artCardPC") %>
                </section>             
              <!-- </section>              
              
              <a class="prev" onclick="plusSlidesEstilos(-1)">❮</a>
              <a class="next" onclick="plusSlidesEstilos(1)">❯</a>
              
              </section> -->
              <br>
<!--               
              <section style="text-align:center">
                <span class="obrasMaisVendidasdot dot" onclick="currentSlide(1)"></span> 
                <span class="obrasMaisVendidasdot dot" onclick="currentSlide(2)"></span> 
              </section>
          </section> -->
        
    </section>
</section>



