<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Pinturas</title>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
    <link href="./css/Obras.css" rel="stylesheet">
    <link href="./css/footer.css" rel="stylesheet">
    <link href="./css/global.css" rel="stylesheet">
    <link href="./css/globalPC.css" rel="stylesheet">
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/headerPC.css" rel="stylesheet">
    <link href="./css/menu.css" rel="stylesheet">
</head>
<body>
<section class="telasPequenas">
    <%- include("../partial/header") %>
    <img src="images/banner.png" alt="Despertando a arte que há em você" class="banner">
    <h1 class="h1ObrasMobile">As melhores obras estão aqui.</h1>
    
    <div class="gallery-containerMobile" id="gallery">
        <% obras.forEach(function(obra) { %>
        <div class="painting">
            <img src="uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.titulo_obra %>">
            <div class="painting-title"><%= obra.titulo_obra %></div>
            <div class="painting-description full-description"><%= obra.descricao_obra %></div>
            <br>
            <div class="painting-price">R$ <%= obra.preco %></div>
            <div style="display: flex; justify-content: flex-end; margin: 1rem;">
                <a href="obra/<%= obra.id_obra %>" class="btn-comprar">Comprar</a>
            </div>
        </div>
        <% }) %>
    </div>
</section>

<section class="telasGrandes" style="margin-top: 5rem;">
    <%- include("../partial/headerPC") %>
    <img src="images/banner.png" alt="" class="banner">

    <h1 class="h1Obras">As melhores obras estão aqui.</h1>
    <div class="gallery-container" id="gallery">
        <% obras.forEach(function(obra) { %>
        <div class="painting">
            <img src="uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.titulo_obra %>">
            <div class="painting-title"><%= obra.titulo_obra %></div>
            <div class="painting-description full-description"><%= obra.descricao_obra %></div>
            <br>
            <div class="painting-price">R$ <%= obra.preco %></div>
            <div style="display: flex; justify-content: flex-end; margin: 1rem;">
                <a href="obra/<%= obra.id_obra %>" class="btn-comprar">Comprar</a>
            </div>
        </div>
        <% }) %>
    </div>
    
</section>

<%- include("../partial/footer") %>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const descriptions = document.querySelectorAll('.full-description');
        
        descriptions.forEach(desc => {
            const originalText = desc.textContent;
            const maxLength = 100;
            if (originalText.length > maxLength) {
                const truncatedText = originalText.substring(0, maxLength) + '...';
                desc.textContent = truncatedText;
            }
        });
    });
</script>

</body>
</html>
