<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de Pinturas</title>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet">
    <link href="./css/Obras.css" rel="stylesheet">
    <link href="./css/footer.css" rel="stylesheet">
    <link href="./css/global.css" rel="stylesheet">
    <link href="./css/globalPC.css" rel="stylesheet">
    <link href="./css/header.css" rel="stylesheet">
    <link href="./css/headerPC.css" rel="stylesheet">
    <link href="./css/menu.css" rel="stylesheet">
</head>
<body>
<section class="telasPequenas">
    <%- include("../partial/header") %>
   
</section>

<!-- Header para telas grandes -->
<section class="telasGrandes" style="margin-top: 5rem;">
    <%- include("../partial/headerPC") %>
    <img src="images/banner.png" alt="" class="banner">
    <h1 class="h1Obras">As melhores obras estão aqui. </h1>
        <div class="gallery-container" id="gallery">
            <% obras.forEach(function(obra) { %>
            <div class="painting">
                <img src="uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.titulo_obra %>">
                <div class="painting-title"><%= obra.titulo_obra %></div>
                <div class="painting-description">Artista</div>
                <div class="painting-description"><%= obra.descricao_obra %></div>
                <br>
                <div class="painting-price">R$ <%= obra.preco %></div>
                <div style="display: flex; justify-content: flex-end; margin: 1rem;">
                    <a href="obra/<%= obra.id_obra %>" class="btn-comprar">Comprar</a>
                </div>
            </div>
            <% }) %>
                    
        </div>
    </section>
</section>

        
<%- include("../partial/footer") %>


<!-- 
    <script>
        let currentPage = 1;
        const itemsPerPage = 4;
        const paintings = document.querySelectorAll('.painting');
        const totalPages = Math.ceil(paintings.length / itemsPerPage);

        function updateGallery() {
            const start = (currentPage - 1) * itemsPerPage;
            const end = start + itemsPerPage;

            paintings.forEach((painting, index) => {
                painting.style.display = (index >= start && index < end) ? 'inline-block' : 'none';
            });

            document.getElementById('page-info').textContent = `${currentPage}/${totalPages}`;
        }

        function changePage(direction) {
            currentPage += direction;
            if (currentPage < 1) currentPage = 1;
            if (currentPage > totalPages) currentPage = totalPages;
            updateGallery();
        }

        updateGallery();
    </script> -->
</body>
</html>
