<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
    <title>Ivanty</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/headerPC.css">
    <link rel="stylesheet" href="css/globalPC.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/carrossel.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> 
    <!--Fonte usada-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- <link href="./css/Obras.css" rel="stylesheet"> -->
</head>
<body>
    <% if (successMessage) { %>
        <div class="success-message">
            <alert><%= successMessage %></alert>
        </div>
    <% } %>
    <section class="telasPequenas">
        <%- include("../partial/header") %>
        <main>
            <img src="images/banner.png" alt="Despertando a arte que há em você" class="banner">
            <section class="obrasEmDestaque">
                <h1 class="comprarArteOnlineH1">COMPRE OBRAS DE ARTE</h1>
                <p class="comprarArteOnlineP">Navegue pelas obras de arte disponíveis em nossa plataforma</p>
                <section class="categoriasEmDestaque">
                    <h2 class="categoriasEmDestaqueText">Categorias em Destaque:</h2>
                    <%- include("../partial/comprarPorCategoriaCarouselMobile") %>
                </section>
            </section>
        </section>
            <section class="artistasEmDestaque">
                <h2 class="artistasEmDestaqueTextPC">Artistas em Destaque:</h2>
                <%- include("../partial/carrossel_artistas") %> 
            </section>

            <section class="publicidadeMobile">
                <img src="images/garotaPintandoIvanty.png" alt="" class="publicidadeImagemMobile">
                <div>
                    <h2 class="publicadeTextoIvantyMobile">IVANTY, </h2>
                    <h2 class="publicadeTextoMobile">Aqui a sua arte tem </h2>
                    <h2 class="publicadeTextoYellowMobile">VALOR</h2>
                </div>
            </section>

            <section class="EstilosDeObraArte">
                <h1 class="comprarArteOnlineH1">COMPRE ARTE PELO ESTILO</h1>
                <p class="comprarArteOnlineP">Qual seu movimento artistico favorito?</p>
                <section class="categoriasEmDestaque">
                    <h2 class="categoriasEmDestaqueText">Estilos em Destaque:</h2>
                    <%- include("../partial/comprarPorEstiloCarouselMobile") %> 
                </section>
            </section>
        </main>
    </section>

    <section class="telasGrandes">
        <%- include("../partial/headerPC") %>
        <img src="images/banner.png" alt="" class="bannerPC">
        <main>
            <section class="obrasEmDestaquePC">
                <h1 class="comprarArteOnlineH1">COMPRE OBRAS DE ARTE</h1>
                <p class="comprarArteOnlineP">Navegue pelas obras de arte disponíveis em nossa plataforma</p>
                <section class="categoriasEmDestaquePC">
                     <%- include("../partial/comprarPorCategoriaCarousel") %>
                </section>
            </section>
            <section class="artistasEmDestaquePC">
                <h2 class="artistasEmDestaqueTextPC">Artistas em Destaque:</h2>
                <%- include("../partial/carrossel_artistas") %> 
            </section>

            <section class="publicidade">
                <img src="images/garotaPintandoIvanty.png" alt="" class="publicidadeImagem">
                <div>
                    <h2 class="publicadeTextoIvanty">IVANTY, </h2>
                    <h2 class="publicadeTexto">Aqui a sua arte tem </h2>
                    <h2 class="publicadeTextoYellow">VALOR</h2>
                </div>
            </section>

            <section class="EstilosDeObraArtePC">
                <h1 class="comprarArteOnlineH1">COMPRE ARTE PELO ESTILO</h1>
                <p class="comprarArteOnlineP">Qual seu movimento artistico favorito?</p>
                <section class="categoriasEmDestaquePC">
                    <%- include("../partial/comprarPorEstiloCarousel") %> 
                </section>
            </section>
           
            
            
        </main>
    </section>

    <%- include("../partial/footer") %>

    <script src="js/comprarPorCategoriacarousel.js"></script>
    <script src="js/comprarPorEstilocarousel.js"></script>
    <script src="js/comprarPorEstilocarouselMobile.js"></script>
    <script src="js/comprarPorCategoriacarouselMobile.js"></script>
    <script src="js/ObrasMaisVendidas.js"></script>
    <script src="js/ObrasMaisVendidasMobile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="./js/carrossel.js"></script> 
</body>
</html>
