<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet'>
    <title>Ivanty</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/headerPC.css">
    <link rel="stylesheet" href="css/globalPC.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/categories.css">
    <link rel="stylesheet" href="css/paintings.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> 
    <link rel="stylesheet" href="css/buyitem.css">

    <!-- Fonte usada -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>
<section class="telasPequenas">
    <%- include("../partial/header") %>
    <main>
        <img src="images/banner.png" alt="Despertando a arte que há em você" class="banner">

        <% if (typeof error !== 'undefined') { %>
          <p><%= error %></p>
        <% } %>

        <% if (obras && obras.length > 0) { %>
          <div>
            <% obras.forEach((obra) => { %>
              <section class="buyitemContainer">
                <img src="uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.titulo_obra %>" class="buyitemimage">
                <section class="buyitemgrid">
                    <p class="buyitemtitle"><%= obra.titulo_obra %></p>
                    <p class="buyitemprice">R$<%= obra.preco %></p>
                </section>
                <p class="buyitemartist"><%= obra.id_cliente %></p>
                <a href="/obra/<%= obra.id_obra %>">
                  <div class="buyitembutton">Comprar</div>
                </a>
                <div class="buyitemaddtocard">Adicionar ao carrinho</div>
                <section class="buyitemdescription">
                    <h3 class="buyitemdescriptiontitle">Descrição:</h3>
                    <p class="buyitemdescriptiontext"><%= obra.descricao_obra %></p>
                </section>
            </section>
            <% }); %>
            </div>
        <% } else { %>
          <p>Nenhuma obra disponível no momento.</p>
        <% } %>
      
        
    </main>
</section>

<section class="telasGrandes">
    <%- include("../partial/headerPC") %>
    <img src="images/banner.png" alt="" class="bannerPC">
    <main>
      <h1 class="paintingsTitle">Lista de Obras</h1>

      <% if (typeof error !== 'undefined') { %>
        <p><%= error %></p>
      <% } %>

      <% if (obras && obras.length > 0) { %>
        <div class="obrasGrid">
          <% obras.forEach((obra) => { %>
            <div>
              <strong>Título:</strong> <%= obra.titulo_obra %><br>
              <strong>Descrição:</strong> <%= obra.descricao_obra %><br>
              <strong>Preço:</strong> <%= obra.preco %><br>
              <img src="uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.titulo_obra %>" class="obraContainerImage">
              
            </div>
          <% }); %>
          </div>
      <% } else { %>
        <p>Nenhuma obra disponível no momento.</p>
      <% } %>    </main>
</section>

<%- include("../partial/footer") %>
</body>
</html>
