<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivanty</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/headerPC.css">
    <link rel="stylesheet" href="../css/globalPC.css">
    <link rel="stylesheet" href="../css/aboutPC.css">
    <link rel="stylesheet" href="../css/buyitem.css">
</head>
<body>
    <section class="telasPequenas">
      <%- include("../partial/obras/header") %>
      <main class="mainTelasPequenas">
        <section class="buyitemContainer">
            <img src="../uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.imagem_obra  %>" class="buyitemimage">

            <section class="buyitemgrid">
                <p class="buyitemtitle"><%= obra.titulo_obra %></p>
                <p class="buyitemprice">R$ <%= obra.preco %></p>
            </section>
            <a href="/<%=obra.perfil_cliente %>"><p class="buyitemartist"><%= obra.nome_artista %></p></a>
            

            <section class="buttonsArea">
              <form action="/carrinho/adicionar/<%= obra.id_obra %>" method="POST"></form>
                  <button type="submit" class="buyitembutton">Comprar</button>
              </form>
              <form action="/carrinho/adicionar/<%= obra.id_obra %>" method="POST">
                  <button type="submit" class="buyitemaddtocard">Adicionar ao carrinho</button>
              </form>
            </section>
            <section class="buyitemdescription">
                <h3 class="buyitemdescriptiontitle">Descrição:</h3>
                <p class="buyitemdescriptiontext"><%= obra.descricao_obra %></p>
                <h3 class="buyitemdescriptiontitle">Ano de criação:</h3>
                <p class="buyitemdescriptiontext"><%= obra.ano_criacao %></p>
            </section>
        </section>
      </main>
    </section>

    <section class="telasGrandes">
      <%- include("../partial/obras/headerPC") %>

      <main class="mainTelasGrandes">
        <section class="buyitemContainerPC">
          <section class="buyitemgridPC">
             <img src="../uploads/obras/<%= obra.imagem_obra %>" alt="<%= obra.imagem_obra %>" class="buyitemimagePC">
             <section class="buyiteminformationsGridPC">
                <div>
                  <a href="/<%=obra.perfil_cliente %>"><p class="buyitemartistPC"><%= obra.nome_artista %></p></a>
                  <p class="buyitemtitlePC"><%= obra.titulo_obra %></p>
                  <section class="buyitemdescriptionPC">
                    <h3 class="buyitemdescriptiontitlePC">Descrição:</h3>
                    <p class="buyitemdescriptiontextPC"><%= obra.descricao_obra %></p>
                    <h3 class="buyitemdescriptiontitlePC">Ano de criação:</h3>
                    <p class="buyitemdescriptiontextPC"><%= obra.ano_criacao %></p>
                  </section>
                  <p class="buyitempricePC">R$ <%= obra.preco %></p>

                  <section class="buttonsArea">
                    <form action="/carrinho/adicionar/<%= obra.id_obra %>" method="POST">
                        <button type="submit" class="buyitembuttonPC">Comprar</button>
                    </form>
                    <form action="/carrinho/adicionar/<%= obra.id_obra %>" method="POST">
                        <button type="submit" class="buyitemaddtocardPC">Adicionar ao carrinho</button>
                    </form>
                  </section>
                </div>
              </section> 
              
          </section>
        </section>
      </main>  
    </section>
  
    <%- include("../partial/obras/footer") %>

</body>
</html>
