<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Seus Pedidos</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/globalPC.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/headerPC.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/telaPedidos.css">
</head>
<body>
  <% if (notification) { %>
    <%- include('../partial/notification') %>
 <% } %>
 
  <!-- Seção para telas pequenas (mobile) -->
  <section class="telasPequenas">
    <%- include("../partial/obras/header") %>    
    <section class="pedidosContainerMobile">
      <% if (pedidos.length > 0) { %>
        <% pedidos.forEach(pedido => { %>
          <div class="pedidoContainerMobile">
            <img src="images/banner.png" alt="Despertando a arte que há em você" class="pedidoImagemMobile">
            <div>                  
              <p><strong>Status do Pedido: </strong><%= pedido.status_pedido %></p>
              <p><strong>Data do pedido: </strong><%= new Date(pedido.data_pedido).toLocaleDateString() %></p>
              <p><strong>Valor do pedido: </strong>R$ <%= pedido.preco_total %></p>
            </div>

            <% if (pedido.status_pagamento !== 'approved' && pedido.status_pedido !== 'CANCELADO') { %>
              <a href="<%= pedido.init_point %>" class="pedidoComprarButtonMobile">Pagar pedido</a>
              <form action="/api/pedido/cancelar/<%= pedido.id_pedido %>" method="POST">
                <button type="submit" class="btn-cancelarMobile">Cancelar Pedido</button>
              </form>
            <% } else if (pedido.status_pedido === 'CANCELADO') { %>
              <p>Pedido cancelado</p>
            <% } else { %>
              <p>Pagamento já realizado.</p>
            <% } %>                             
          </div>
        <% }) %>
      <% } else { %>
        <p>Você ainda não fez nenhum pedido, finalize uma compra para acompanha-lo</p>
      <% } %>
    </section>

  </section>

  <!-- Seção para telas grandes (desktop) -->
  <section class="telasGrandes">
    <%- include("../partial/obras/headerPC") %>
    <section class="pedidosContainer">
      <% if (pedidos.length > 0) { %>
        <% pedidos.forEach(pedido => { %>
          <div class="pedidoContainer">
            <img src="images/banner.png" alt="Despertando a arte que há em você" class="pedidoImagem">
            <div>                  
              <p><strong>Status do Pedido: </strong><%= pedido.status_pedido %></p>
              <p><strong>Data do pedido: </strong><%= new Date(pedido.data_pedido).toLocaleDateString() %></p>
              <p><strong>Valor do pedido: </strong>R$ <%= pedido.preco_total %></p>
            </div>

            <% if (pedido.status_pagamento !== 'approved' && pedido.status_pedido !== 'CANCELADO') { %>
              <a href="<%= pedido.init_point %>" class="pedidoComprarButton">Pagar pedido</a>
              <form action="/api/pedido/cancelar/<%= pedido.id_pedido %>" method="POST">
                <button type="submit" class="btn-cancelar">Cancelar Pedido</button>
              </form>
            <% } else if (pedido.status_pedido === 'CANCELADO') { %>
              <p>Pedido cancelado</p>
            <% } else { %>
              <p>Pagamento já realizado.</p>
            <% } %>                             
          </div>
        <% }) %>
      <% } else { %>
        <p>Você ainda não fez nenhum pedido, finalize uma compra para acompanha-lo</p>
      <% } %>
    </section>
  </section>

</body>
</html>
