<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ivanty</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/headerPC.css">
    <link rel="stylesheet" href="css/globalPC.css">
    <link rel="stylesheet" href="css/carrosell.css">
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="css/perfilMobile.css">
    <link rel="stylesheet" href="css/edit.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <section class="telasPequenas">
        <%- include("../partial/header") %>

        <!-- <main class="mainTelasPequenas">
            <section class="perfilContentMobile">
                <img src="images/sky.jpg" alt="" class="banner bannerProfile">
                
                <section class="layoutPerfilMobile">
                    
                    <section class="perfilTextsMobile">
                        <h2 class="perfilNameMobile"><%= cliente.nome %></h2>
                        <h3 class="perfilBiographName">@<%= cliente.perfil %></h3> 
                    </section>
                </section>
                <div class="perfilGridResumoSair">
                    <p class="perfilAboutMobile">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat.</p>
                    <a href="/logout"><i class='bx bx-exit'></i> Sair</a> 
                </div>
                <div class="buttonContainer">
                    <button class="editProfileButton" id="openEditModalMobile">Editar perfil</button>
                </div>
            </section>
        </main>
        <img src="./uploads/<%= cliente.foto %>" alt="" class="perfilPhotoMobile"> -->

        <section class="perfil-usuario">
            <section class="container-perfil">
                <section class="enter-perfil" style="background-image: url('images/sky.jpg');">
                    <section class="shadow"></section>
                    <section class="avatar-perfil">
                        <img src="./uploads/<%= cliente.foto %>" alt="">
                        <a href="#" class="takePicture" id="openUploadModalMobile">
                            <i class="fas fa-camera"></i> 
                            <span> Trocar foto</span>
                        </a>
                    </section>
                    <section class="date-perfil">
                        <% if (!isLoggedIn) { %>
                            <a href="/login" class="login">Login</a>
                        <% } else { %>
                            <h4 class="titulo-usuario"><%= cliente.nome %></h4>
                            <p class="bio-usuario">@<%= cliente.perfil %></p>
                        <% } %>
                        <ul class="lista-perfil">
                            <!-- Adicione informações adicionais aqui, se necessário -->
                        </ul>
                    </section>
                    <section class="opção-perfil">
                        <button type=""><i class="fas fa-wrench"></i></button>
                    </section>
                </section>
                <section class="menu-perfil">
                    <ul>
                        <li><a href="#" title=""><i class="icon-perfil fas fa-bullhorn"></i> Obras</a></li>
                        <li><a href="#" class="" id="openEditModalMobile" title=""><i class="icon-perfil bx bxs-edit-alt"></i> Editar perfil</a></li>
                        <li><a href="/logout" title=""><i class="icon-perfil bx bx-exit"></i> Logout</a></li>
                    </ul>
                </section>
                <section class="addObras">
                    <button class="putColor">Adicionar obras</button>
                </section>
            </section>
    </section>

    <section class="telasGrandes">
        <%- include("../partial/headerPC") %>

        <main class="mainTelasGrandes">
            <section class="perfil-usuario">
                <section class="container-perfil">
                    <section class="enter-perfil" style="background-image: url('images/sky.jpg');">
                        <section class="shadow"></section>
                        <section class="avatar-perfil">
                            <img src="./uploads/<%= cliente.foto %>" alt="">
                            <a href="#" class="takePicture" id="openUploadModal">
                                <i class="fas fa-camera"></i> 
                                <span> Trocar foto</span>
                            </a>
                        </section>
                        <section class="date-perfil">
                            <% if (!isLoggedIn) { %>
                                <a href="/login" class="login">Login</a>
                            <% } else { %>
                                <h4 class="titulo-usuario"><%= cliente.nome %></h4>
                                <p class="bio-usuario">@<%= cliente.perfil %></p>
                            <% } %>
                            <ul class="lista-perfil">
                                <!-- Adicione informações adicionais aqui, se necessário -->
                            </ul>
                        </section>
                        <section class="opção-perfil">
                            <button type=""><i class="fas fa-wrench"></i></button>
                        </section>
                    </section>
                    <section class="menu-perfil">
                        <ul>
                            <li><a href="#" title=""><i class="icon-perfil fas fa-bullhorn"></i> Obras</a></li>
                            <li><a href="#" class="" id="openEditModal" title=""><i class="icon-perfil bx bxs-edit-alt"></i> Editar perfil</a></li>
                            <li><a href="/logout" title=""><i class="icon-perfil bx bx-exit"></i> Logout</a></li>
                        </ul>
                    </section>
                    <section class="addObras">
                        <button class="putColor">Adicionar obras</button>
                    </section>
                </section>
            </section>

            <!-- Modal para editar perfil -->
            <div id="editProfileModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeEditModal">&times;</span>
                    <form id="editProfileForm" action="/api/clientes/edit-profile/<%= cliente.id %>" method="POST">
                        <div class="form-group">
                            <label for="nome_cliente">Nome:</label>
                            <input type="text" id="nome_cliente" name="nome_cliente" value="<%= cliente.nome %>">
                        </div>
                        <div class="form-group">
                            <label for="perfil_cliente">Perfil:</label>
                            <input type="text" id="perfil_cliente" name="perfil_cliente" value="<%= cliente.perfil %>">
                        </div>
                        <div class="form-group">
                            <label for="telefone_cliente">Telefone:</label>
                            <input type="tel" id="telefone_cliente" name="telefone_cliente" value="<%= cliente.telefone %>">
                        </div>
                        <div class="form-group">
                            <button type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal para upload de foto -->
            <div id="uploadFotoModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="closeUploadModal">&times;</span>
                    <form id="uploadFotoForm" action="/api/clientes/uploadfoto" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="foto_cliente">Foto de Perfil:</label>
                            <input type="file" id="foto_cliente" name="foto_cliente">
                        </div>
                        <div class="form-group">
                            <button type="submit">Enviar Foto</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </section>

    <!-- Modais para a versão mobile -->
    <div id="editProfileModalMobile" class="modal">
        <div class="modal-content">
            <span class="close" id="closeEditModalMobile">&times;</span>
            <form id="editProfileFormMobile" action="/api/clientes/edit-profile/<%= cliente.id %>" method="POST">
                <div class="form-group">
                    <label for="nome_cliente_mobile">Nome:</label>
                    <input type="text" id="nome_cliente_mobile" name="nome_cliente" value="<%= cliente.nome %>">
                </div>
                <div class="form-group">
                    <label for="perfil_cliente_mobile">Perfil:</label>
                    <input type="text" id="perfil_cliente_mobile" name="perfil_cliente" value="<%= cliente.perfil %>">
                </div>
                <div class="form-group">
                    <label for="telefone_cliente_mobile">Telefone:</label>
                    <input type="tel" id="telefone_cliente_mobile" name="telefone_cliente" value="<%= cliente.telefone %>">
                </div>
                <div class="form-group">
                    <button type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div>

    <div id="uploadFotoModalMobile" class="modal">
        <div class="modal-content">
            <span class="close" id="closeUploadModalMobile">&times;</span>
            <form id="uploadFotoFormMobile" action="/api/clientes/uploadfoto" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="foto_cliente_mobile">Foto de Perfil:</label>
                    <input type="file" id="foto_cliente_mobile" name="foto_cliente">
                </div>
                <div class="form-group">
                    <button type="submit">Enviar Foto</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        // Encontrar elementos do DOM
        var editProfileModal = document.getElementById("editProfileModal");
        var btnOpenEditModal = document.getElementById("openEditModal");
        var spanCloseEditModal = document.getElementById("closeEditModal");

        var uploadFotoModal = document.getElementById("uploadFotoModal");
        var btnOpenUploadModal = document.getElementById("openUploadModal");
        var spanCloseUploadModal = document.getElementById("closeUploadModal");

        var editProfileModalMobile = document.getElementById("editProfileModalMobile");
        var btnOpenEditModalMobile = document.getElementById("openEditModalMobile");
        var spanCloseEditModalMobile = document.getElementById("closeEditModalMobile");

        var uploadFotoModalMobile = document.getElementById("uploadFotoModalMobile");
        var btnOpenUploadModalMobile = document.getElementById("openUploadModalMobile");
        var spanCloseUploadModalMobile = document.getElementById("closeUploadModalMobile");

        // Ação para abrir o modal de editar perfil (desktop)
        btnOpenEditModal.onclick = function() {
            editProfileModal.style.display = "block";
        }

        // Ação para fechar o modal de editar perfil (desktop)
        spanCloseEditModal.onclick = function() {
            editProfileModal.style.display = "none";
        }

        // Ação para abrir o modal de upload de foto (desktop)
        btnOpenUploadModal.onclick = function() {
            uploadFotoModal.style.display = "block";
        }

        // Ação para fechar o modal de upload de foto (desktop)
        spanCloseUploadModal.onclick = function() {
            uploadFotoModal.style.display = "none";
        }

        // Ação para abrir o modal de editar perfil (mobile)
        btnOpenEditModalMobile.onclick = function() {
            editProfileModalMobile.style.display = "block";
        }

        // Ação para fechar o modal de editar perfil (mobile)
        spanCloseEditModalMobile.onclick = function() {
            editProfileModalMobile.style.display = "none";
        }

        // Ação para abrir o modal de upload de foto (mobile)
        btnOpenUploadModalMobile.onclick = function() {
            uploadFotoModalMobile.style.display = "block";
        }

        // Ação para fechar o modal de upload de foto (mobile)
        spanCloseUploadModalMobile.onclick = function() {
            uploadFotoModalMobile.style.display = "none";
        }

        // Fechar os modais clicando fora da área dos modais
        window.onclick = function(event) {
            if (event.target == editProfileModal) {
                editProfileModal.style.display = "none";
            }
            if (event.target == uploadFotoModal) {
                uploadFotoModal.style.display = "none";
            }
            if (event.target == editProfileModalMobile) {
                editProfileModalMobile.style.display = "none";
            }
            if (event.target == uploadFotoModalMobile) {
                uploadFotoModalMobile.style.display = "none";
            }
        }
    </script>

    <%- include("../partial/footer") %>
</body>
</html>
